extends layout

block content
    #map
    script(type='text/javascript').
        config = !{config};
    script(type='text/javascript', src='/js/jerbs.js')
    
    a(href='https://github.com/jessehorne/jerbs')
        img(id='github', src='/images/github.png')
